<div class="revenues-actuals-container">
    <div class="revenues-actuals-container-title">
        <h3>Revenues Forecast</h3>
    </div>
    <div class="revenues-actuals-container-tabs">
        <div class="revenues-actuals-container-tabs-tab" (click)="selectView(PERIOD_TYPE_OPTIONS.MONTHLY)" [class.active]="chartViewSelected === PERIOD_TYPE_OPTIONS.MONTHLY">Monthly</div>
        <div class="revenues-actuals-container-tabs-tab" (click)="selectView(PERIOD_TYPE_OPTIONS.QUARTERLY)" [class.active]="chartViewSelected === PERIOD_TYPE_OPTIONS.QUARTERLY">Quarterly</div>
        <div class="revenues-actuals-container-tabs-tab" (click)="selectView(PERIOD_TYPE_OPTIONS.YEARLY)" [class.active]="chartViewSelected === PERIOD_TYPE_OPTIONS.YEARLY">Yearly</div>
    </div>
    <div class="revenues-actuals-container-content">
        <div class="row">
            <div class="col-12 padAdjust">
                <div class="float-right">
                    <select class="revenue-grid-ctrl float-right" [(ngModel)]="viewSelected" (change)="onDataViewChange()" [hidden]="isManual">
                        <option *ngFor="let item of viewOptions" [ngValue]="item.value">{{item.label}}</option>
                    </select>
                    <div class="float-right toggle-ctrl">
                        <label>Manual Mode</label>
                        <ui-switch color="#106CC8" [(ngModel)]="isManual" (change)="onManualModeChange()"></ui-switch>
                    </div>
                    <div class="float-right toggle-ctrl">
                        <label> Show Chart</label>
                        <ui-switch color="#106CC8" [(ngModel)]="showCharts"></ui-switch>
                    </div>
                </div>
            </div>
        </div>
        <div class="revenues-actuals-chart" *ngIf="showCharts">
            <chart style="width:100%;" [options]="chartOptionsForMonthlyView" [hidden]="chartViewSelected !== PERIOD_TYPE_OPTIONS.MONTHLY"></chart>
            <chart style="width:100%;" [options]="chartOptionsForQuaterlyView" [hidden]="chartViewSelected !== PERIOD_TYPE_OPTIONS.QUARTERLY"></chart>
            <chart style="width:100%;" [options]="chartOptionsForYearlyView" [hidden]="chartViewSelected !== PERIOD_TYPE_OPTIONS.YEARLY"></chart>
        </div>
        <div class="revenues-actuals-grid">
            <div class="revenues-actuals-grid-manual-menu" [hidden]="!isManual">
                <div class="revenues-actuals-grid-manual-menu-item">
                    <app-xl-file-ctrl label="" (xlsContentUpdated)="onXlsFileContentUpdate($event)"></app-xl-file-ctrl>
                </div>
                <div class="revenues-actuals-grid-manual-menu-item" title="Save Data" (click)="saveManualData()">
                    <i class="fa fa-floppy-o"></i>
                </div>
                <div class="float-right">
                    <div class="revenues-actuals-grid-manual-menu-item input-ctrl" [hidden]="editViewSelected === VIEW_OPTIONS.RESULTS">
                        <label>Initial Value</label>
                        <input class="revenue-grid-ctrl" type="number" [(ngModel)]="manualStartValue" />
                    </div>
                    <div class="revenues-actuals-grid-manual-menu-item input-ctrl">
                        <label>Base Editing View</label>
                        <select class="revenue-grid-ctrl" [(ngModel)]="editViewSelected" (change)="onDataViewChange()">
                        <option *ngFor="let item of viewOptions" [ngValue]="item.value">{{item.label}}</option>
                    </select>
                    </div>
                </div>
            </div>
            <table [hidden]="chartViewSelected !== PERIOD_TYPE_OPTIONS.MONTHLY" class="w12">
                <thead>
                    <tr>
                        <th>
                            <div class="revenues-actuals-grid-menu" (click)="showSliderMenu = !showSliderMenu" [hidden]="isManual">
                                <i class="fa fa-bars"></i>
                            </div>
                        </th>
                        <th>JAN</th>
                        <th>FEB</th>
                        <th>MAR</th>
                        <th>APR</th>
                        <th>MAY</th>
                        <th>JUN</th>
                        <th>JUL</th>
                        <th>AUG</th>
                        <th>SEP</th>
                        <th>OCT</th>
                        <th>NOV</th>
                        <th>DEC</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="empty-row">
                        <td colspan="13" *ngIf="rows.length == 0 && isManual == false"> No Records for now</td>
                    </tr>
                    <tr *ngFor="let year of forecastYears">
                        <td [class.isManual]="isManual && false">
                            <!-- <div class="revenues-actuals-grid-menu" (click)="manualCurrentRowYear = year.YEAR;showSliderMenu = !showSliderMenu" [hidden]="!isManual">
                                <i class="fa fa-bars"></i>
                            </div> -->
                            {{year.YEAR}}
                        </td>
                        <td *ngFor="let model of year.MONTHS">
                            <span *ngIf="!isManual">
                                <span [hidden]="viewSelected !== VIEW_OPTIONS.RESULTS">$ {{model.VALUE | currencyDelimitedWithComma}}</span>
                            <span [hidden]="viewSelected !== VIEW_OPTIONS.INCREMENTS">$ {{model.INCREMENT | currencyDelimitedWithComma}}</span>
                            <span [hidden]="viewSelected !== VIEW_OPTIONS.PERCENT">{{model.INCREMENT_PERCENT}} %</span>
                            </span>
                            <input type="number" *ngIf="isManual && editViewSelected === VIEW_OPTIONS.RESULTS" [(ngModel)]="model.MANUAL_VALUE" />
                            <input type="number" *ngIf="isManual && editViewSelected === VIEW_OPTIONS.INCREMENTS" [(ngModel)]="model.MANUAL_INCREMENT"
                            />
                            <input type="number" *ngIf="isManual && editViewSelected === VIEW_OPTIONS.PERCENT" [(ngModel)]="model.MANUAL_INCREMENT_PERCENT"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
            <table [hidden]="chartViewSelected !== PERIOD_TYPE_OPTIONS.QUARTERLY" class="w4">
                <thead>
                    <tr>
                        <th>
                            <div class="revenues-actuals-grid-menu" (click)="showSliderMenu = !showSliderMenu">
                                <i class="fa fa-bars"></i>
                            </div>
                        </th>
                        <th>Q1 JAN - MAR</th>
                        <th>Q2 APR - JUN</th>
                        <th>Q3 JUL - SEP</th>
                        <th>Q4 OCT - DEC</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="empty-row">
                        <td colspan="13" *ngIf="rows.length == 0 && isManual == false"> No Records for now</td>
                    </tr>
                    <tr *ngFor="let year of forecastYears">
                        <td>{{year.YEAR}}</td>
                        <td *ngFor="let model of year.QUARTERS">
                            <span>
                                <span [hidden]="viewSelected !== VIEW_OPTIONS.RESULTS">$ {{model.VALUE | currencyDelimitedWithComma}}</span>
                            <span [hidden]="viewSelected !== VIEW_OPTIONS.INCREMENTS">$ {{model.INCREMENT | currencyDelimitedWithComma}}</span>
                            <span [hidden]="viewSelected !== VIEW_OPTIONS.PERCENT">{{model.INCREMENT_PERCENT}} %</span>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table [hidden]="chartViewSelected !== PERIOD_TYPE_OPTIONS.YEARLY" class="w1">
                <thead>
                    <tr>
                        <th>
                            <div class="revenues-actuals-grid-menu" (click)="showSliderMenu = !showSliderMenu">
                                <i class="fa fa-bars"></i>
                            </div>
                        </th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="empty-row">
                        <td colspan="13" *ngIf="rows.length == 0 && isManual == false"> No Records for now</td>
                    </tr>
                    <tr *ngFor="let year of forecastYears">
                        <td>{{year.YEAR}}</td>
                        <td>
                            <span>
                                <span [hidden]="viewSelected !== VIEW_OPTIONS.RESULTS">$ {{year.VALUE | currencyDelimitedWithComma}}</span>
                            <span [hidden]="viewSelected !== VIEW_OPTIONS.INCREMENTS">$ {{year.INCREMENT | currencyDelimitedWithComma}}</span>
                            <span [hidden]="viewSelected !== VIEW_OPTIONS.PERCENT">{{year.INCREMENT_PERCENT}} %</span>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="revenues-actuals-container-slider-overlay" [hidden]="!showSliderMenu"></div>
    <div class="revenues-actuals-container-slider" [class.in]="showSliderMenu">
        <div class="revenues-actuals-container-slider-inner">
            <div class="revenues-actuals-container-slider-close" (click)="showSliderMenu = false">
                <i class="fa fa-close"></i>
            </div>
            <div class="revenues-actuals-container-slider-inner-items-holder" *ngIf="!isManual">
                <div class="revenues-actuals-container-slider-inner-item">
                    <label>Select Growth Value</label>
                    <select class="revenue-ctrl" [(ngModel)]="growthPeriod" title="Select Growth Period">
                        <option *ngFor="let item of growthPeriodOptions" [ngValue]="item.value">{{item.label}}</option>
                    </select>
                </div>
                <div class="revenues-actuals-container-slider-inner-item">
                    <label>Enter Intial Value</label>
                    <input class="revenue-ctrl" [(ngModel)]="startValue" type="number" title="Enter Initial Value" />
                </div>
                <div class="revenues-actuals-container-slider-inner-item">
                    <label>Select Growth Type</label>
                    <select class="revenue-ctrl" [(ngModel)]="growthType" title="Select Growth Type">
                            <option *ngFor="let item of growthTypeOptions" [ngValue]="item.value">{{item.label}}</option>
                        </select>
                </div>
                <div class="revenues-actuals-container-slider-inner-item">
                    <label>Select Growth Value</label>
                    <input class="revenue-ctrl" [(ngModel)]="growth" type="number" title="Enter Growth Value" />
                </div>
                <div class="revenues-actuals-container-slider-inner-item">
                    <label>Enter Start Date</label>
                    <input class="revenue-ctrl" [(ngModel)]="startDateStr" type="date" title="Enter Start Date" />
                </div>
                <div class="revenues-actuals-container-slider-inner-item">
                    <label>Enter End Date</label>
                    <input class="revenue-ctrl" [(ngModel)]="endDateStr" type="date" title="Enter End Date" />
                </div>
                <button class="btn btn-primary revenue-ctrl" (click)="process()">Recalculate</button>
            </div>
            <div class="revenues-actuals-container-slider-inner-items-holder" *ngIf="isManual">
                <div class="revenues-actuals-container-slider-inner-item">
                    <label>Enter Intial Value</label>
                    <input class="revenue-ctrl" [(ngModel)]="manualStartValue" type="number" title="Enter Initial Value" />
                </div>
                <div class="revenues-actuals-container-slider-inner-item">
                    <label>Select Growth Type</label>
                    <select class="revenue-ctrl" [(ngModel)]="manualGrowthType" title="Select Growth Type">
                            <option *ngFor="let item of growthTypeOptions" [ngValue]="item.value">{{item.label}}</option>
                        </select>
                </div>
                <div class="revenues-actuals-container-slider-inner-item">
                    <label>Select Growth Value</label>
                    <input class="revenue-ctrl" [(ngModel)]="manualGrowth" type="number" title="Enter Growth Value" />
                </div>
                <div class="revenues-actuals-container-slider-inner-item w100">
                    <label class="inline-block w100">Apply across</label>
                    <label class="radioLabel"><input class="revenue-ctrl" [(ngModel)]="manualApplyAcross" value="row" type="radio" />{{manualCurrentRowYear}}</label>
                    <label class="radioLabel"><input class="revenue-ctrl" [(ngModel)]="manualApplyAcross" value="all" type="radio" />All Years</label>
                </div>
                <button class="btn btn-primary revenue-ctrl" (click)="applyManualProps()">Apply</button>
            </div>
        </div>
    </div>
</div>