/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

[hidden] {
    display: none !important;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}